<div class="row">
  <div class="col-lg-12">
    <div *ngIf="!noBacklink && !isForNew">
      <button nbButton status="info" ghost (click)="cancel()">
        <nb-icon icon="arrow-ios-back" pack="eva"></nb-icon> 
        Back to {{entityTypeName}} list
      </button>
    </div>
    <ngx-editable-form #editableForm
      [menuType]="menuType" [isForNew]="isForNew"
      [isAdmin]="isAdmin()" [title]="title" [iconName]="iconName"
      [canApproveOrg]="canApproveOrg" [entityMrn]="entityMrn" [orgMrn]="orgMrn"
      [instanceVersion]="instanceVersion" [isLoading]="isLoading" [isLoaded]="isLoaded"
      [hasHeader]="true" [showButtons]="true" (onApprove)="approve()"
      (onCancel)="cancel()" (onSubmit)="submit($event)" (onDelete)="delete()" (onRefresh)="refreshData()"
    ></ngx-editable-form>
    <!-- admin user form for approving org menu -->
    <ngx-editable-form #supplementForm *ngIf="menuType === 'orgcandidate' && orgShortId"
      [menuType]="'user'" [isForNew]="true" [orgShortId]="orgShortId" [defaultPermissions]="defaultPermissions"
      [isAdmin]="isAdmin()" [title]="'Administrator account'" [iconName]="'user'"
      [canApproveOrg]="canApproveOrg" [entityMrn]="" [orgMrn]="entityMrn"
      [instanceVersion]="instanceVersion" [isLoading]="isLoading" [isLoaded]="isLoaded"
      [hasHeader]="true" [showButtons]="false" (onApprove)="approve()"
      (onCancel)="cancel()" (onSubmit)="submit($event)" (onDelete)="delete()" (onRefresh)="refreshData()"
    ></ngx-editable-form>
  </div>
</div>