<div class="row">
  <div class="col-lg-12">
    <div *ngIf="!noBacklink && !isForNew">
      <button nbButton status="info" ghost (click)="cancel()">
        <nb-icon icon="arrow-ios-back" pack="eva"></nb-icon> 
        Back to {{entityTypeName}} list
      </button>
    </div>
    <ngx-editable-form #editableForm
            [menuType]="menuType" [isForNew]="isForNew" [isUnapprovedorg]="isUnapprovedorg"
            [isAdmin]="isAdmin()" [title]="title" [iconName]="iconName"
            [canApproveOrg]="canApproveOrg" [entityMrn]="entityMrn" [orgMrn]="orgMrn"
            [instanceVersion]="instanceVersion" [isLoading]="isLoading" [isLoaded]="isLoaded"
            [hasHeader]="true" (onApprove)="approve()"
            (onCancel)="cancel()" (onSubmit)="submit($event)" (onDelete)="delete()"
            ></ngx-editable-form>
  </div>
</div>