<nb-card>
    <nb-card-header>Service search</nb-card-header>
    <nb-card-body>
      <div class="container">
        <div class="row p-1">
          <span>
            You can search services registered in this Service Registry with the given form below.
          </span>
        </div>
        <div class="row">
          <ngx-lucene-query-input #luceneQueryInputComponent class="w-100" [fieldInfo]="fieldInfo" (onUpdateQuery)="onUpdateLuceneQuery($event)"></ngx-lucene-query-input>
        </div>
        <div class="row">
          <input nbInput hidden fullWidth placeholder="field1:value1 AND/OR field2:value2" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                  class="form-control search-location" #luceneQueryStringInput (change)="onQueryStringChanged($event)">
        </div>
        <div class="row">
          <button fullWidth status="primary" nbButton (click)="onSearch()">Search</button>
        </div>
        <div class="row">
          <button fullWidth nbButton (click)="onClear()">Clear all</button>
        </div>
      </div>
      <hr />
      <ngx-input-geometry #map [isEditing]="false" isForSearch="true" [geometries]="geometries" [geometryNames]="geometryNames" (onUpdate)="onUpdateGeometry($event)" (onClear)="onClear()"></ngx-input-geometry>
      <ng2-smart-table *ngIf="showTables" [settings]="settings" [source]="source" (userRowSelect)="onEdit($event)"
        [nbSpinner]="isLoading" nbSpinnerSize="large" nbSpinnerStatus="primary"></ng2-smart-table>
    </nb-card-body>
  </nb-card>
  