<h5 class="grid-h">{{title}}</h5>
<div class="row show-grid">
    <div class="col-md-12">
        <div>{{ 'about.info.version' | translate }}: {{version}}</div>
    </div>
    <div class="col-md-12">
        <div>{{ 'about.info.provider' | translate }}: {{provider}}</div>
    </div>
    <div class="col-md-12">
        <div>{{ 'about.info.environment' | translate }}: {{environmentName}}</div>
    </div>
    <div class="col-md-12">
        <div>{{ 'about.info.contact' | translate }}: {{contact}}</div>
    </div>
</div>