<div class="card-container">
    <nb-card *ngIf="!agreed && !submitted">
        <nb-card-header>
            {{ 'register.title' | translate }}{{environmentName}}
        </nb-card-header>
        <nb-card-body>
            <div *ngIf="!agreed">
                <div class="rows">
                    <div class="col">
                        <strong>{{ 'register.termsOfUse.title' | translate }}</strong>
                    </div>
                </div>
                <div class="rows">
                    <div class="col">
                        {{ termsOfUse }}
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div>
                <div class="buttons-row">
                    <button nbButton status="success" (click)="agree()">
                        {{ 'register.button.agree' | translate }}
                    </button>
                    <button nbButton status="danger" (click)="dismiss()">
                        {{ 'register.button.disagree' | translate }}
                    </button>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
    
    <div *ngIf="agreed && !submitted">
        <div class="rows">
            <div class="col">
                <ngx-editable-form #editableForm
                [title]="title" [hasHeader]="true" [menuType]="menuType" [isForNew]="isForNew"
                [isForRegistration]="true" [title]="title" [iconName]="iconName" [isUnapprovedorg]="isUnapprovedorg"
                [entityMrn]="entityMrn" [orgMrn]="orgMrn"
                [instanceVersion]="instanceVersion" [isLoading]="isLoading" [isLoaded]="isLoaded"
                [showButtons]="true"
                (onCancel)="dismiss()" (onSubmit)="submit($event)" (onDelete)="delete()"
                ></ngx-editable-form>
            </div>
        </div>
    </div>
    
    <nb-card *ngIf="submitted">
        <nb-card-header>
            {{ 'register.submitted.title' | translate }}
        </nb-card-header>
        <nb-card-body>
            <div class="rows">
                <div class="col">
                    <h5 class="text-center">
                        {{ 'register.submitted.content' | translate }}
                    </h5>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="buttons-row">
                <button nbButton status="danger" (click)="dismiss()">
                    {{ 'register.button.close' | translate }}
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</div>
