@import '../../@theme/styles/themes';

nb-card {
    max-height: 80vh;
    width: 80vw;
}

nb-card-body {
    overflow: auto;
    padding-top: 0;
  
    > * {
      margin-top: 1rem;
    }
  }
.icon_header {
  display: inline-block;
  width: 28px;
}

@include nb-install-component() {
    .buttons-row {
      margin: -0.5rem;
    }
  
    button[nbButton] {
      margin: 0.5rem;
    }
  
    .action-icon {
      @include nb-ltr(margin-right, 0.5rem);
      @include nb-rtl(margin-left, 0.5rem);
    }
  
    .actions-card {
      height: 8rem;
    }
  }
  