@import '../../@theme/styles/themes.scss';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@include nb-install-component() {
    .image-container {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
        ), 
        nb-theme(url-bg);
    }
    .buttons-row {
        margin: -0.5rem;
    }
    
    button[nbButton] {
        margin: 0.5rem;
    }

    .action-icon {
        @include nb-ltr(margin-right, 0.5rem);
        @include nb-rtl(margin-left, 0.5rem);
      }
    
      .actions-card {
        height: 10rem;
      }
}

.description-font {
    font-family: 'Quicksand', sans-serif;
}

.title-font {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
}

.subtitle-font {
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    
}

.trans-background {
    background:rgba(255, 255, 255, 0);
    border: 0px;
    color: white;
}

.mcp-logo {
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    -webkit-filter: drop-shadow( 10px 10px 30px rgba(0, 0, 0, .7));
    filter: drop-shadow( 10px 10px 30px rgba(0, 0, 0, .7));
}