<nb-card class="modal-window">
    <nb-card-header>
        <div *ngIf="isEditing">
            <input nbInput value="{{this.xml['name']}}">
        </div>
        <div *ngIf="!isEditing">
            <b>{{this.xml['name']}}</b>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <span class="label">Content</span>
                <textarea rows="20" nbInput fullWidth placeholder="Text Area">{{ this.xml["content"] }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="label">Comment</span>
            </div>
            <div class="col-sm-10">
                <div *ngIf="isEditing">
                    <input nbInput value="{{this.xml['comment']}}">
                </div>
                <div *ngIf="!isEditing">
                    <span >{{ this.xml["comment"] }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="label">ContentType</span>
            </div>
            <div class="col-sm-10">
                <div *ngIf="isEditing">
                    <input nbInput value="{{this.xml['contentContentType']}}">
                </div>
                <div *ngIf="!isEditing">
                    <span>{{ this.xml["contentContentType"] }}</span>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="buttons-row">
            <button nbButton status="primary" (click)="dismiss()">Validate</button>
            <button nbButton status="success" disabled="isValidated" (click)="dismiss()">Save</button>
            <button nbButton status="success" disabled="isValidated" (click)="dismiss()">Load</button>
            <button nbButton status="danger" (click)="dismiss()">Close</button>
        </div>
    </nb-card-footer>
</nb-card>
  