<div class="row">
  <div class="col-lg-12">
    <nb-card>
        <nb-card-header>
          <span class="icon_header"><nb-icon [icon]="iconName" pack="fas"></nb-icon></span>{{title}}
        </nb-card-header>
      
        <nb-card-body>
            <form>
              <div class="form-group row" *ngFor="let attribute of columnForMenu | keyvalue">
                <label for="input{{attribute.key}}" class="label col-sm-3 col-form-label">{{columnForMenu[attribute.key].title}}</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="inputText" placeholder="{{attribute.key}}">
                </div>
              </div>
              <div class="buttons-row">
                <button type="submit" nbButton status="primary">Submit</button>
                <button type="cancel" nbButton status="danger" outline>Cancel</button>
              </div>
            </form>
            
        </nb-card-body>
      </nb-card>
  </div>
</div>