<nb-card>
  <nb-card-header>
      {{ 'ir.about.title' | translate }}
  </nb-card-header>
  <nb-card-body>
    <p> {{ 'ir.about.intro' | translate }} </p>
    <p> {{ 'ir.about.first-function' | translate }} </p>
    <p> {{ 'ir.about.second-function' | translate }} </p>
    <p> {{ 'ir.about.third-function' | translate }} </p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    {{ 'ir.about.portal.title' | translate }}
  </nb-card-header>
  <nb-card-body>
    <p> {{ 'ir.about.portal.description' | translate }} </p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    {{ 'ir.about.howto.title' | translate }}
  </nb-card-header>
  <nb-tabset>
    <nb-tab tabTitle="{{'ir.about.howto.user.title' | translate}}">
      <p>{{ 'ir.about.howto.user.description' | translate }}</p>
    </nb-tab>
    <nb-tab tabTitle="{{'ir.about.howto.org-admin.title' | translate}}">
      <p>{{ 'ir.about.howto.org-admin.description' | translate }}</p>
    </nb-tab>
    <nb-tab tabTitle="{{'ir.about.howto.mir-admin.title' | translate}}">
      <p>{{ 'ir.about.howto.mir-admin.description' | translate }}</p>
    </nb-tab>
  </nb-tabset>
</nb-card>

