<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
      MCP management portal
  </nb-card-header>
  <nb-card-body>
      <p>
          {{ 'landing.footer.shortIntro' | translate}}
      </p>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>{{ 'portal.about.title' | translate }}</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col">
            <ngx-info [title]="ir.title" [provider]="ir.provider" [contact]="ir.contact" [environmentName]="environmentName" [version]="ir.version"></ngx-info>
          </div>
          <div class="col" *ngIf="hasServiceRegistry">
            <ngx-info [title]="sr.title" [provider]="sr.provider" [contact]="sr.contact" [environmentName]="environmentName" [version]="sr.version"></ngx-info>
          </div>
          <div class="col">
            <ngx-info [title]="mp.title" [provider]="mp.provider" [contact]="mp.contact" [environmentName]="environmentName" [version]="mp.version"></ngx-info>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
