<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigatePersonalInfo()">{{ 'header.portalName' | translate }}</a>
    <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
      <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
    </nb-select>
  </div>
</div>

<div class="header-container">
  <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      [showFlags]="true"
      [showLabels]="true"
      [customLabels]="customLabels"
      (changedCountryCode)="changeLang($event)">
    </ngx-flag-picker>
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [name]="userName" (click)="navigatePersonalInfo()">
      </nb-user>
    </nb-action>
  </nb-actions>
  <a href="{{logoutUrl}}">{{ 'header.logout' | translate }}</a>
</div>
