<nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col my-auto">
          <span class="icon_header"><nb-icon [icon]="iconName" pack="fas"></nb-icon></span>{{title}}
        </div>
        <div class="col-md-auto">
          <ngx-search-input (search)="onSearch($event)"></ngx-search-input>
        </div>
        <div class="col-md-auto">
          <button type="button" nbButton status="primary" (click)="onAddNew()" *ngIf="isAdmin">Add new</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" nbSpinnerSize="large" nbSpinnerStatus="primary">
      <ng2-smart-table *ngIf="showTables" [settings]="settings" [source]="source" (userRowSelect)="onEdit($event)" (delete)="onDelete($event)">
      </ng2-smart-table>
    </nb-card-body>
    <!-- generate for loop generating indexes up to totalPages-->
    <div class="text-center pb-5">
      <button *ngFor="let i of pageNumbers" class="m-1" nbButton size="tiny" [disabled]="i==currentPageNumber" (click)="fetchValues(i)">{{i+1}}</button>
    </div>
  </nb-card>
